aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
frozenlist==1.7.0
greenlet==3.2.3
idna==3.10
jeepney==0.9.0
multidict==6.6.3
playwright==1.53.0
propcache==0.3.2
pycparser==2.22
pyee==13.0.0
requests==2.32.4
SecretStorage==3.3.3
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
yt-dlp==2025.6.30
